body
	color #2e1a15
	font-family PT Sans, sans-serif
	background-color #797979
	cursor default

.main
	margin-left auto
	margin-right auto
	padding 48px 120px 30px 110px
	width 1000px
	font-size 22px
	background-color #efd49f
	background-image url(../images/pattern.jpg)

a
	color #014f98