form.form
	.form_chapter__main_info.inputs_width_fullwidth
		+input_text('Полное ФИО', 'Иванов Иван Иванович', 'id0')
		+input_text('Год рождения', '1990', 'id1')
		+input_text('Место жительства', 'г. Иваново, Россия', 'id2')
		+input_text('Скайп', 'ivanov', 'id3')
		+input_text('Почта', 'ivanov@gmail.com', 'id4')
		
	.form_chapter__htmlacademy
		.form_row
			.chapter_header Выпускник 
				a(href='http://htmlacademy.ru/', target='_blanc') htmlacademy.ru
			input.input-radio(type='radio', value='1', name='is_htmlacademy', id='radio1', checked)
			label.form__label.radio(for='radio1') Да 
			input.input-radio(type='radio', value='0', name='is_htmlacademy', id='radio2')
			label.form__label.radio(for='radio2') Нет
			
	.form_chapter__practic_skills
		.chapter_header Практические навыки
		.chapter_description.text_small.star Отметьте только те технологии и типы задач, с которыми вы хорошо знакомы. Отсутсвие опыта отнюдь не означает, что у вас меньше шансов стать нашим сотрудником. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
		.container
			.col.col1
				+checkboxes([
					['Методология БЭМ'],
					['jQuery', ''],
					['Использую GRUNT', ''],
					['HAML'],
					['SASS'],
					['LESS'],
					['CoffeeScript']
				], 'col1')
			.col.col2
				+checkboxes([
					['Jade', ''],
					['Stylus', ''],
					['Знаю (изучаю) Angular'],
					['Верстка под Android'],
					['Верстка под iOS'],
					['Верстка под Windows Phone']
				], 'col2')
			.col.col3
				+checkboxes([
					['Верстка рассылок', ''],
					['Адаптивная верстка', ''],
					['Использую Dropbox', ''],
					['Использую Gmail', ''],
					['Использую GitHub']
				], 'col3')
	
	.form_chapter__javascript_skills
		.chapter_header Уровень владения JavaScript
		ul.skills_selector
			li.skills_selector_item.item0
				input.skills_selector_item_input(type='radio' value='0', name='skills_selector', id='skills_selector0')
				label.form__label.skills_selector_item_label(for='skills_selector0') Не владею
			li.skills_selector_item.item1
				input.skills_selector_item_input(type='radio' value='1', name='skills_selector', id='skills_selector1', checked)
				label.form__label.skills_selector_item_label(for='skills_selector1') Использую готовые решения
			li.skills_selector_item.item2
				input.skills_selector_item_input(type='radio' value='2', name='skills_selector', id='skills_selector2')
				label.form__label.skills_selector_item_label(for='skills_selector2') Использую готовые решения<br>и умею их переделывать
			li.skills_selector_item.item3
				input.skills_selector_item_input(type='radio' value='3', name='skills_selector', id='skills_selector3')
				label.form__label.skills_selector_item_label(for='skills_selector3') Пишу сложные скрипты
		
	.form_chapter__main_info
		+input_text('Дата заполнения', '01.01.2014', 'id5', 'filling_date')