.header
	margin-left -65px
	margin-right -65px
	margin-bottom 30px
	overflow hidden
	zoom 1
	
.logo
	height 60px
	width 160px
	margin-top 12px
	padding-top 49px
	text-indent 6px
	font-size 10px
	background url(../images/logo.png) left top no-repeat
	
.stamp
	float right
	height 106px
	width 252px
	background url(../images/stamp.png) center center no-repeat
.page_title
	height 140px
	background url(../images/h1.png) 47% 0px no-repeat
	margin-bottom 21px

		