/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$checkbox-bg_x = 0px;
$checkbox-bg_y = 36px;
$checkbox-bg_offset_x = 0px;
$checkbox-bg_offset_y = -36px;
$checkbox-bg_width = 18px;
$checkbox-bg_height = 18px;
$checkbox-bg_total_width = 79px;
$checkbox-bg_total_height = 54px;
$checkbox-bg_image = '../images/sprite.png';
$checkbox-bg = 0px 36px 0px -36px 18px 18px 79px 54px '../images/sprite.png';
$checkbox-check_x = 36px;
$checkbox-check_y = 0px;
$checkbox-check_offset_x = -36px;
$checkbox-check_offset_y = 0px;
$checkbox-check_width = 19px;
$checkbox-check_height = 25px;
$checkbox-check_total_width = 79px;
$checkbox-check_total_height = 54px;
$checkbox-check_image = '../images/sprite.png';
$checkbox-check = 36px 0px -36px 0px 19px 25px 79px 54px '../images/sprite.png';
$radio-bg_x = 0px;
$radio-bg_y = 0px;
$radio-bg_offset_x = 0px;
$radio-bg_offset_y = 0px;
$radio-bg_width = 28px;
$radio-bg_height = 28px;
$radio-bg_total_width = 79px;
$radio-bg_total_height = 54px;
$radio-bg_image = '../images/sprite.png';
$radio-bg = 0px 0px 0px 0px 28px 28px 79px 54px '../images/sprite.png';
$radio-dot_x = 26px;
$radio-dot_y = 36px;
$radio-dot_offset_x = -26px;
$radio-dot_offset_y = -36px;
$radio-dot_width = 14px;
$radio-dot_height = 14px;
$radio-dot_total_width = 79px;
$radio-dot_total_height = 54px;
$radio-dot_image = '../images/sprite.png';
$radio-dot = 26px 36px -26px -36px 14px 14px 79px 54px '../images/sprite.png';
$skills_selector_pointer_x = 63px;
$skills_selector_pointer_y = 0px;
$skills_selector_pointer_offset_x = -63px;
$skills_selector_pointer_offset_y = 0px;
$skills_selector_pointer_width = 16px;
$skills_selector_pointer_height = 14px;
$skills_selector_pointer_total_width = 79px;
$skills_selector_pointer_total_height = 54px;
$skills_selector_pointer_image = '../images/sprite.png';
$skills_selector_pointer = 63px 0px -63px 0px 16px 14px 79px 54px '../images/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
